@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --textColor: rgb(209, 209, 209);
  --text-black: black;
  --border5px: 5px;
  --border10px: 10px;
}
.links, a{
  text-decoration: none;
}
.html5
{
  color: orange;
}
.css
{
  color: rgb(0, 132, 209)

}
.js{
  color: rgb(196, 196, 0)
}
.react
{
color: rgb(0, 145, 255);
}
.bootstrap{
color: rgb(111, 0, 255);
}


body {
background: #000;
  color: white;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App {
 
  background: #000;
}

nav {
  padding: 1rem;
  display: flex;

  justify-content: center;
}
nav .links {
  margin: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  transition: border 0.7s ease;
  outline: none;
  user-select: none;
  animation-name: colorShift;
  animation-duration: 2s;
  transition: 0.5s ease-in;
}

nav .links:hover {
  border: 1px solid var(--textColor);
}

.home{
  height: 100vmin;
}
.info {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 4rem;
  top: 6rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  transition: ease-in;
}
.info h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 100;
}

.contact {
  position: relative;
}

.contact h1 {
  color: white;
  animation-name: leftToRight;
  position: absolute;
  animation-duration: 1.5s;
  transition: ease-in;
  left: 4rem;
}

.go-to-project {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  animation-name: rightToLeft;
  animation-duration: 2s;
}
.go-to-project .links {
  color: white;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--textColor);
  transition: border 0.3s;
}
.go-to-project .links:hover {
  color: var(--textColor);
  border: 1px solid black;
  border-radius: var(--border5px);
  box-shadow: 0px 0px 5px 1px rgb(92, 92, 92);
}

.projects {
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.projects .tile {
  flex: 25%;
  margin:1rem;
  padding: 2rem;
  box-shadow: 1px 1px 10px rgb(55, 55, 55);
  animation-name: fadeIn;
  animation-duration: 2s;
}


.projects .tile h1 {
  font-size: 2rem;
  font-weight: lighter;
}
.projects .tile img
{
  width: 100%;
}
.projects .tile a
{
  color: white;
  margin: 0.5rem;
  border: 1px solid white;
  padding: 0.5rem;

}

/* **************Skill section******************** */
.skills
{
  height: 100vh;
  text-align: center;
  padding: 2rem;

}
.skills h1
{
    font-size: xxx-large;
    font-weight: lighter;
}
.skills-section
{

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;


}
.skills-section .skill
{
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: auto;
  border-radius: var(--border5px);
  box-shadow: 2px 2px 1px 2px rgb(43, 43, 43);
  
}

@keyframes fadeIn {
  from {

    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    opacity: 0.2;
    left: 0;
  }
  to {
    left: 4rem;
    opacity: 1;
  }
}
@keyframes rightToLeft {
  from {
    opacity: 0.2;
    right: 0;
  }
  to {
    right: 4rem;
    opacity: 1;
  }
}
