@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --textColor: rgb(209, 209, 209);
  --text-black: black;
  --text-grey: rgb(63, 63, 63);
  --border5px: 5px;
  --border10px: 10px;
}
.links,
a {
  text-decoration: none;
}
hr {
  margin: 2rem 0rem;
  border-top: 1px solid rgb(168, 168, 168);
}

/* *********icons************** */
.html5 {
  color: orange;
}
.css {
  color: rgb(0, 132, 209);
}
.js {
  color: rgb(196, 196, 0);
}
.react {
  color: rgb(0, 145, 255);
}
.bootstrap {
  color: rgb(111, 0, 255);
}
.photoshop {
  color: rgb(0, 102, 255);
}
/* *******************main****************************** */
body {
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App {
  background: #000;
}

nav {
  padding: 1rem;
  display: flex;

  justify-content: center;
}
nav .links {
  margin: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  transition: border 0.7s ease;
  outline: none;
  user-select: none;
  animation-name: colorShift;
  animation-duration: 2s;
  transition: 0.5s ease-in;
}

nav .links:hover {
  border: 1px solid var(--textColor);
}

.home {
  height: 100vmin;
  position: relative;
}
.info {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 4rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  transition: ease-in;
}

.info h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 100;
}
.info .button {
  top: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--textColor);
  color: white;
  text-decoration: none;
}

.contact {
  position: relative;
}

.contact h1 {
  color: white;
  animation-name: leftToRight;
  position: absolute;
  animation-duration: 1.5s;
  transition: ease-in;
  left: 4rem;
}

.go-to-project {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  animation-name: rightToLeft;
  animation-duration: 2s;
}
.go-to-project .links {
  color: white;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--textColor);
  transition: border 0.3s;
}
.go-to-project .links:hover {
  color: var(--textColor);
  border: 1px solid black;
  border-radius: var(--border5px);
  box-shadow: 0px 0px 5px 1px rgb(92, 92, 92);
}

.projects {
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.projects .tile {
  flex: 25%;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 1px 1px 10px rgb(55, 55, 55);
  animation-name: fadeIn;
  animation-duration: 2s;
}

.projects .tile h1 {
  font-size: 2rem;
  font-weight: lighter;
}
.projects .tile img {
  width: 100%;
}
.projects .tile a {
  color: white;
  margin: 0.5rem;
  border: 1px solid white;
  padding: 0.5rem;
}

/* **************Skill section******************** */
.skills {
  height: 100vh;
  text-align: center;
  padding: 2rem;
}
.skills h1 {
  font-size: xxx-large;
  font-weight: lighter;
}
.skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.skills-section .skill {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: auto;
  border-radius: var(--border5px);
  box-shadow: 0px 0px 1px 2px rgb(43, 43, 43);
  transition: 0.5s ease;
}
.skills-section .skill:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 2px rgb(201, 201, 201);
}

/* ****************blogs section***************** */

.blogs {
  background: #d1dce7;

  display: flex;
  justify-content: center;
  color: var(--text-grey);
}
.blogs .blog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 2rem auto;
}
.blogs .blog-container .author-info {
  margin-left: 1.5rem;
}
.blogs .blog-container .author-info .social a {
  margin: 0px 5px;
  color: rgb(184, 0, 9);
}

.blogs .blog-container .blog-header h1 {
  cursor: pointer;
  color: var(--text-grey);
  font-size: x-large;
  font-weight: bold;
}
.blogs .blog-container .blog-tile {
  padding: 0.5rem;
  margin: 0rem 1rem;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.blogs .blog-container .blog-tile .read-more {
  color: rgb(36, 36, 48);
}

/* *****************media queries********************** */

@media screen and (max-width: 900px) {
  .blogs .blog-container {
    width: 75%;
  }
}
@media screen and (max-width: 775px) {
  .blogs .blog-container {
    width: 80%;
  }
}
@media screen and (max-width: 625px) {
  nav {
    padding: 0.5rem;
  }
  nav .links {
    margin: 0.5rem;
  }

  .blogs .blog-container {
    width: 80%;
  }
}
@media screen and (max-width: 530px) {
  nav {
    padding: 0.5rem;
  }
  nav .links {
    margin: 0.1rem;
  }
  .blogs .blog-container {
    width: 85%;
  }
}
@media screen and (max-width: 465px) {
  nav {
    padding: 0.5rem;
  }
  nav .links {
    margin: 0.1rem;
    font-size: 13px;
    padding: 0.5rem;
  }

  .blogs .blog-container {
    width: 90%;
  }
  
  .blogs .blog-container .author-info h1 {
    font-size: 25px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    opacity: 0.2;
    left: 0;
  }
  to {
    left: 4rem;
    opacity: 1;
  }
}
@keyframes rightToLeft {
  from {
    opacity: 0.2;
    right: 0;
  }
  to {
    right: 4rem;
    opacity: 1;
  }
}
