@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --textColor: rgb(209, 209, 209);
  --text-black: black;
  --text-grey: rgb(63, 63, 63);
  --border5px: 5px;
  --border10px: 10px;
  --textColorForDark: rgb(41, 41, 41);
  --text-whiteForDark: rgb(241, 241, 241);
}

.links,
a {
  text-decoration: none;
}
hr {
  margin: 2rem 0rem;
  border-top: 1px solid rgb(168, 168, 168);
}

/* *********icons************** */
.html5 {
  color: orange;
}
.css {
  color: rgb(0, 132, 209);
}
.js {
  color: rgb(196, 196, 0);
}
.react {
  color: rgb(0, 145, 255);
}
.bootstrap {
  color: rgb(111, 0, 255);
}
.photoshop {
  color: rgb(0, 102, 255);
}

/* *******************main****************************** */
body {
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App {
  background: #000;
}

.light {
  background: var(--text-whiteForDark);
  color: var(--text-whiteForDark);
}

.backToMain {
}
/* .home
{
  background: var(--text-whiteForDark);
color: var(--text-whiteForDark);

} */

nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
nav .links {
  margin: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* border: 1px solid rgb(196, 196, 196); */
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: var(--border5px);
  transition: 0.1s;
  border: 1px solid rgb(122, 122, 122);
  background: none;
  z-index: 100;
  overflow: hidden;
}
nav .links:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to top right, red, orange, purple);
  background-size: 300% auto;
  transition: 0.2s ease-in;
  z-index: -1;
}
nav .links:hover {
  color: var(--text-black);
  border-radius: var(--border5px);
}
nav .links:hover:before {
  width: 100%;
}
/* ***************home section =****************** */
.home {
  height: 100vh;
  position: relative;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 6rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  transition: ease-in;
}

.info .info-div {
  flex: 60%;
}

.info .info-div h1 {
  background: linear-gradient(to right, #eb3349 0%, #ff5e00 51%, #eb3349 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: 4.5rem;
  font-weight: 100;
}
.home .cover-container {
  width: auto;
  flex: 40%;
  animation: fadeIn;

  animation-duration: 2s;
}
.home .cover-container img {
  width: 100%;
  height: 100%;
  margin: auto 0;
}
.info .button {
  top: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--textColor);
  color: white;
  text-decoration: none;
  position: relative;
  background: none;
  transition: 0.5s;
  z-index: 100;
}
.info .button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    red,
    orangered,
    orange,
    purple
  );
  background-size: 300%;
  transition: 0.2s ease;
  z-index: -1;
}
.info .button:hover:before {
  height: 100%;
}

.contact {
  position: relative;
}

.contact h1 {
  color: white;
  animation-name: leftToRight;
  position: absolute;
  animation-duration: 1.5s;
  transition: ease-in;
  left: 4rem;
}

.go-to-project {
  position: absolute;
  right: 6rem;
  bottom: 10rem;
  animation-name: rightToLeft;
  animation-duration: 2s;
}
.go-to-project .links {
  background: linear-gradient(to right, #eb3349 0%, #ff5e00 51%, #eb3349 100%);
  background-size: 200% auto;
  color: white;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.go-to-project .links:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  border-radius: var(--border10px);
}
.home .go-to-project .links-circle {
  visibility: hidden;
  color: white;
}

/* ******************************************** */

.projects {
  margin-top: 2rem;
}

.projects .project-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}
.projects .project-nav .links-circle
{
  color: rgb(206, 7, 66);
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}


.projects .tile {

display: flex;
flex-direction: column;
justify-content: space-between;
  background-image: linear-gradient(
    to right top,
    #ff002b,
    #ff1100,
    #ff4c1c,
    #ff7b00,
    #f93b4c,
    #eb1962,
    #d50076,
    #ff00bb
  );
  flex: 25%;
  margin: 1rem;
  padding: 2rem;
  border-radius: var(--border10px);
  box-shadow: 1px 1px 10px rgb(55, 55, 55);
  animation-name: fadeIn;
  animation-duration: 2s;
  transition: 0.5s;
  background-size: 200% auto;
}
.projects .tile:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.projects .tile h1 {
  font-size: 2rem;
  font-weight: lighter;
}
.projects .tile img {
  width: 100%;
}
.projects .tile a {
  color: white;
  margin: 0.5rem;
  border: 1px solid white;
  padding: 0.5rem;
  transition: 0.3s;
  border-radius: var(--border5px);
  position: relative;
  background: none;
  overflow: hidden;
  z-index: 1;
}
.projects .tile a:hover {
  color: black;
}
.projects .tile a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0%;
  width: 0%;
  background: whitesmoke;
  transition: 0.3s;
  z-index: -1;
}
.projects .tile a:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* **************Skill section******************** */
.skills {
  height: 100vh;
  text-align: center;
  padding: 2rem;
  width: 80vw;
  margin: 0 auto;
}
.skills h1 {
  font-size: xxx-large;
  font-weight: lighter;
}
.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.skills-section .skill {
  padding: 1rem;
  flex: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  border-radius: var(--border5px);
  box-shadow: 0px 0px 1px 2px rgb(43, 43, 43);
  transition: 0.5s ease;
}
.skills-section .skill:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 2px rgb(201, 201, 201);
}

/* ****************blogs section***************** */

.blogs {
  background: #d1dce7;

  display: flex;
  justify-content: center;
  color: var(--text-grey);
}
.blogs .blog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height: auto;
  margin: 2rem auto;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}


.blog-container p
{

  font-size: large;

}
.blogs .blog-container .author-info {
  margin-left: 1.5rem;
}
.blogs .blog-container .author-info .social a {
  margin: 0px 5px;
  color: rgb(184, 0, 9);
}

.blogs .blog-container .blog-header h1 {
  cursor: pointer;
  color: var(--text-grey);
  font-size: x-large;
  font-weight: bold;
}
.blogs .blog-container .blog-tile {
  padding: 0.5rem;
  margin: 0rem 1rem;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.blogs .blog-container .blog-tile .read-more {
  color: rgb(36, 36, 48);
}
/* ********************about me***************************** */

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 2rem auto;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.aboutMe .info-and-img {
  display: flex;
  justify-content: center;

  margin: 5px;
  padding: 5px;
}
.aboutMe .info-and-img .small-info {
  flex: 50%;
  word-wrap: wrap;
  justify-self: center;
  align-self: center;
  padding: 15px;
  border-radius: var(--border5px);

  border: 1px solid rgb(37, 37, 37);
}
.aboutMe .info-and-img .my-image {
  flex: 50%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.aboutMe .info-and-img .my-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.my-info {
  border: 1px solid rgb(37, 37, 37);
  border-radius: var(--border5px);
  margin: 5px;
  padding: 15px;
}
/* **********************contact section***************** */

.contact {
  background: rgb(0, 0, 0);
}
.contact .contact-container {
  width: 400px;
  margin: 2rem auto;
  color: white;
  user-select: auto;
}
.contact .contact-container form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 2rem 2rem;
  margin: 0 auto;
  border: 1px solid rgb(22, 22, 22);
  border-radius: var(--border10px);
  background-image: linear-gradient(
    to right bottom,
    #ff00de,
    #ff00ab,
    #ff0e7d,
    #ff4657,
    #ff6739,
    #ff6d2d,
    #ff731d,
    #ff7a00,
    #ff6800,
    #ff5400,
    #ff3a00,
    #ff0000
  );
  animation-name: fadeIn;
  animation-duration: 1s;
}
.contact .contact-container form input {
  margin: 0.7rem 0px 0px 0px;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(24, 24, 24);
  border-radius: var(--border5px);
  outline: none;
  color: white;
  background: #000;
  transition: 0.5s;
}
.contact .contact-container form textarea {
  min-height: 100px;
  padding: 0.5rem 1rem;
  border-radius: var(--border5px);
  outline: none;
  color: white;
  border: 1px solid rgb(24, 24, 24);
  background: #000;
  transition: 0.5s;
  margin: 0.7rem 0 0 0;
}
.contact .contact-container form textarea:focus,
.contact .contact-container form input:focus {
  box-shadow: 0px 0px 5px 5px rgb(48, 48, 48);
}
.contact-container button {
  padding: 0.5rem 1rem;
  border: none;

  outline: none;
  color: white;
  background: rgb(0, 116, 151);
  border-radius: var(--border5px);
}
/* *********************Design******************* */

/* for changing the text on screen size change */
.go-to-designs-hidden {
  display: none;
}

.go-to-designs,
.go-to-designs-hidden {
  border-radius: var(--border5px);
  border: 1px solid var(--text-grey);
  color: rgb(189, 189, 189);
  margin-left: 3rem;
  padding: 1rem;
  transition: 0.5s;
}

.go-to-designs:hover {
  transform: scale(0.9);
  color: rgb(192, 192, 192);

  box-shadow: 1px 1px 5px 0px rgb(48, 48, 48);
}

.design {
  animation-name: fadeIn;
  animation-duration: 1s;
  transition: ease;
}
.design-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.design-header h1 {
  background: linear-gradient(
    to right,
    #d12323 15%,
    #f89500 50%,
    #ee00ff 81%,
    #cf0045 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.design-header .backToMain {
  position: absolute;
  color: white;
  right: 2rem;
}

.design-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;

  margin: 0 auto;
  gap: 2rem;
}
.design-container .designs {
  flex: 45%;
  border-radius: var(--border10px);
  padding: 1rem;
  box-shadow: 1px 1px 10px rgb(55, 55, 55);
}
/* *********designs = tile, design = main ** */
.design-container .designs h1 {
  font-weight: lighter;
}
.designs img {
  width: 100%;
  height: auto;
}

.primary-button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: large;
  outline: none;
  border: 1px solid var(--text-grey);
  border-radius: var(--border5px);
  color: var(--text-whiteForDark);
  transition: 0.3s ease;
}
.primary-button:hover,
button {
  color: var(--text-grey);
  background: whitesmoke;
}
/* ***********markdown************ */

.markdown
{
  
  font-size: larger;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 10px rgb(231, 231, 231)
}
/* *****************media queries********************** */

@media screen and (max-width: 1085px) {
  .go-to-project {
    right: 1rem;
    bottom: 10rem;
  }
}

@media screen and (max-width: 900px) {
  .blogs .blog-container {
    width: 75%;
  }
  .home .cover-container img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 775px) {
  .blogs .blog-container {
    width: 80%;
  }
  .info .info-div h1 {
    font-size: 3.5rem;
  }
  .go-to-project {
    right: 1rem;
    bottom: 8rem;
  }
  .home .cover-container img {
    width: 90%;
    height: 90%;
  }
  .home .cover-container {
    align-self: center;
  }
  .info-and-img {
    flex-direction: column;
  }
}
@media screen and (max-width: 674px) {
  .info .info-div h1 {
    font-size: 3rem;
  }

  .go-to-designs {
    padding: 0.4rem 0.7rem;
    font-size: small;
  }

  .projects .tile {
    flex: 45%;
    padding: 1rem 0.5rem;
  }
}
@media screen and (max-width: 625px) {
  nav {
    padding: 0.5rem;
  }
  nav .links {
    margin: 0.5rem;
  }

  .blogs .blog-container {
    width: 80%;
  }

  .home .go-to-project .links {
    border-radius: 50%;
    display: none;
    padding: 0;
    margin: 0;
  }
  nav #contact {
    display: none;
  }

  .home .go-to-project .links-circle {
    visibility: visible;
    margin: 2rem;
    color: rgb(255, 60, 0);
  }

  .go-to-project {
    right: 2rem;
    bottom: 6rem;
  }
}

/* ************Home*********** */
@media screen and (max-width: 585px) {
  .home {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .info {
    flex-direction: column;
  }

  .info .info-div {
    justify-self: flex-start;
    order: 2;
    flex: 60%;
  }

  .info .cover-container {
    order: 1;
  }

  .info {
    align-content: center;
    justify-self: center;

    position: static;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    animation-name: leftToRight;
    animation-duration: 2s;
    transition: ease-in;
  }

  .info .info-div h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4.5rem;
    font-weight: 100;
  }
  .info .button {
    top: 2rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--textColor);
    color: white;
    text-decoration: none;
  }

  .go-to-project {
    position: absolute;
    right: 6rem;
    bottom: 1rem;
    animation-name: rightToLeft;
    animation-duration: 2s;
    justify-self: center;
  }
  .go-to-project .links {
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid var(--textColor);
    transition: border 0.3s;
  }
  .go-to-project .links:hover {
    color: var(--textColor);
    border: 1px solid black;
    border-radius: var(--border5px);
    box-shadow: 0px 0px 5px 1px rgb(92, 92, 92);
  }
  .aboutMe .info-and-img .my-image img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 530px) {
  nav {
    padding: 0.5rem;
  }
  nav .links {
    margin: 0.1rem;
  }

  .info .info-div h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    font-weight: 100;
  }

  .blogs .blog-container {
    width: 85%;
  }

  .aboutMe .info-and-img .my-image img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 465px) {
  .contact .contact-container {
    width: 300px;
  }
  nav {
    padding: 0.5rem;
  }
  nav .links {
    margin: 0.1rem;
    font-size: 13px;
    padding: 0.5rem;
  }
  .info .info-div h1 {
    font-size: 3.5rem;
  }

  .blogs .blog-container {
    width: 90%;
  }

  .blogs .blog-container .author-info h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 410px) {
  .info .info-div h1 {
    font-size: 3rem;
  }

  .aboutMe .info-and-img .my-image img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }
  nav {
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .go-to-project {
    position: static;
  }
}
@media screen and (max-width: 376px) {
  .info {
    align-content: center;
  }
  .info .info-div {
    flex: 80%;
    align-self: center;
    justify-self: center;
    animation-name: forHome;
    animation-duration: 2s;
  }

  .info .info-div h1 {
    font-size: 2.5rem;
  }
  .projects .tile a {
    font-size: small;
    padding: 0.3rem 0.7rem;
  }
  .contact .contact-container {
    width: 270px;
    margin: 2rem auto;
    color: white;
    user-select: auto;
  }
  .go-to-designs {
    display: none;
  }
  .project-container {
    padding: 1rem;
  }
  .go-to-designs-hidden {
    display: initial;
    padding: 0.3rem 0.7rem;
    margin: 0 0 0 2rem;
    font-size: small;
  }
}

@media screen and (max-width: 325px) {
  .projects .tile {
    margin: 0.2rem;
    padding: 2rem 1rem;
  }

  .projects .tile a {
    font-size: smaller;
    padding: 0.25rem 0.5rem;
  }
}
/* ******************keyframes***************** */
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    opacity: 0.2;
    left: 0;
  }
  to {
    left: 6rem;
    opacity: 1;
  }
}
@keyframes rightToLeft {
  from {
    opacity: 0.2;
    right: 0;
  }
  to {
    right: 6rem;
    opacity: 1;
  }
}
